<div>
  <h1 class="font-bold text-4xl">My History:</h1>
  <p>What did you search for</p>
  <div class="max-w-md mx-auto mt-10 flex justify-center  flex-col">
    <%= render partial: "search", locals: { searches: @searches } %>
  </div>
</div>
